img {
  width: 100%;
}

header .navbar {
  z-index: 9;
}

.showcase {
  position: fixed;
  z-index: 1;
  background: url("./showcase.jpg") no-repeat center center/cover;
  min-height: calc(100vh - 56px);
  left: 0;
  top: 56px;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
}

.showcase-inner {
  text-align: center;
  padding-top: 20%;
  height: 100%;
  width: 80%;
  margin: auto;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .showcase-inner {
    padding-top: 30%;
  }
}
